@font-face {
    font-family: "Titulos";
    src: url(./Fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Texto";
    src: url(./Fonts/Bitter-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Main Title";
    src: url(./Fonts/Anton-Regular.ttf);
}
body{
    margin: 0;
    font-family: "Texto";
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: antiquewhite;
}
img{
    display: block;
    width: 100%;
}
.Main-Header{
    padding: 1rem 20px;
}
.Main-Header__Title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: wheat;
    font-family: "Main Title";
}
.Main-Header__Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
    background-color: #151515;
}
.logo{
    display: block;
    width: 200px;
    height: 70px;
    object-fit: cover;
    position: relative;
}
.main{
    padding: 0 20px;
}
.Main-header__txt{
    color: wheat;
    margin: 100%;
}
/*Estilos de la Nav - Menu*/

.btn-shop{
    font-size: 4em;
    display: block;
    padding: 10px 1px;
    cursor: pointer;
}
.btn-menu{
    font-size: 4em;
    display: block;
    padding: 10px 1px;
    cursor: pointer;
}

.menu{
    position:absolute;
    top: 100px;
    left: 0;
    background: #151515;
    width: 20%;
    height: auto;
    list-style: none;
    padding: 4px;
    margin: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.menu__item{
    text-align: center;
    margin: auto;
}
.menu__link{
    padding: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: block;
}
.menu__link:hover{
    background: #fff;
    color: #555;
}
.mostrar{
    opacity: 1;
    visibility: visible;
}
.icon-menu{
    font-size: 1.5rem;
    color: wheat;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 12px;
}




/* Estilos para Slider */

.container-slider{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 700%;
    height: 600px;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0,7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}

/* Estilos para los productos */

.main-title{
    text-align: center;
    background-color: black;
    color: wheat;
    width: auto;
}
.container-products{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    gap: 2rem;
}
.product {
    border: 3.5px solid black;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 20px;
    text-align: center;
    gap: 2rem;
}

.product__tittle{
    text-align: center;
}
.product__price{
    color: black;
    font-weight: bold;
}
.product__icon{
    display: block;
    margin-top: 15px;
    cursor: pointer;
}
.product__icon:hover{
    color: red;
}
.product__img{
    width: 100%;
    height: auto;
    object-fit:contain;
}
.container{
    padding: 3rem 0;
}

/*Footer*/

.footer{
    background-color: #151515;
    color: white;
    padding: 30px 20px;
}
.section {
    padding: 1rem 0 1rem;
}
.footer__list{
    color: #555;
}
.footer__social {
    display: flex;
    column-gap: 1rem;
}
.footer__title{
    border-bottom: 1px dotted white;
    padding-bottom: 20px;
}
.footer__copy{
    text-align: center;
    display: block;
}
.footer__link{
    color: #fff;
}



/*Estilos*/
@media screen and (min-width:768px){
    .slider{
        height: 550px;
    }
    .footer__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
}

@media screen and (min-width:1024px){
    .container{
        width: 100%;
        margin: auto;
    }
    .Main-Header.container--flex{
        display: flex;
        align-items: center;
    }
    .Main-Header__Container{
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .Main-Header__Container:nth-child(2){
        order: -1;
    }
    .Main-Header__Title{
        width: 100%;
        font-size: 4em;
        margin: 0;
        border-bottom: 4px solid #555;
    }
    .footer__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
}
