@font-face {
    font-family: "Titulos";
    src: url(./Fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: "Texto";
    src: url(./Fonts/Bitter-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Main Title";
    src: url(./Fonts/Anton-Regular.ttf);
}
body{
    margin: 0;
    font-family: "Texto";
}
*{
    box-sizing: border-box;
}
.logo{
    display: block;
    width: 10%;
    height: 10%;
    object-fit: cover
}
body{
    margin: 0;
    background-color: antiquewhite;
}
img{
    display: block;
    width: 100%;
}
.Main-Header{
    padding: 0 20px;
}
.Main-Header__Title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: wheat;
    font-family: "Main Title";
}
.main-nav{
    display: none;
}
.Main-Header__Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}
.btn-menu{
    font-size: 1.5em;
    border: 1px wheat;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
}
.Main-Header__btn{
    display: block;
    padding: 10px 25px;
    color: wheat;
    cursor: pointer;
    position: relative;
}
.main{
    padding: 0 20px;
}
.Main-header__txt{
    color: wheat;
    margin: 100%;
}

/* Estilos para Slider */

.container-slider{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 700%;
    height: 600px;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0,7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}

/* Estilos para los productos */

.main-title{
    text-align: center;
    background-color: black;
    color: wheat;
    width: auto;
}
.container-products{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
.product {
    border: 3.5px solid black;
    padding: 20px;
    text-align: center;
}

.product__tittle{
    text-align: center;
}
.product__price{
    color: black;
    font-weight: bold;
}
.product__icon{
    display: block;
    margin-top: 15px;
}
